# See GitHub's documentation for more information on this file:
# https://docs.github.com/en/code-security/supply-chain-security/keeping-your-dependencies-updated-automatically/configuration-options-for-dependency-updates
version: 2
updates:
  - package-ecosystem: github-actions
    directory: /
    schedule:
      interval: monthly
    labels:
      - dependencies
      - automated
      - github_actions
    # only update HashiCorp actions, external actions managed by TSCCR
    allow:
      - dependency-name: hashicorp/*
    groups:
      github-actions-breaking:
        update-types:
          - major
      github-actions-backward-compatible:
        update-types:
          - minor
          - patch
  - package-ecosystem: "gomod"
    directory: "/"
    schedule:
      interval: "daily"
